{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

      {% if title %}
            <title>F1 Website - {{ title }}</title>
      {% else %}
            <title>F1 Website</title>
      {% endif %}

  </head>
  <body>
     	<header>

		<nav class="navbar navbar-dark navbar-expand-lg mb-5">
            <a class="navbar-brand" href="{% url 'blog-home' %}">
                <img class="d-inline-block mr-1 align-bottom" width="150" src="../../static/blog/images/F1.png">
            </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="mainmenu">

				<ul class="navbar-nav mr-auto">

					<li class="nav-item active">
						<a class="nav-link" href="{% url 'blog-home' %}"> Forum </a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown" role="button" aria-expanded="false" id="submenu" aria-haspopup="true"> Klasyfikacje </a>

						<div class="dropdown-menu" aria-labelledby="submenu">

							<a class="dropdown-item" href="#"> Klasyfikacje kierowców </a>
                            <div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#"> Klasyfikacje drużynowe </a>

                        </div>


					</li>

					<li class="nav-item active">
						<a class="nav-link" href="#"> Harmonogram zawodów </a>
					</li>


					<li class="nav-item active">
						<a class="nav-link" href="{% url 'blog-about' %}"> Kontakt </a>
					</li>

                </ul>




                    <div class="navbar-nav active">

                        {% if user.is_authenticated %}

                            <a class="nav-link active" href="{% url 'profile' %}"> Mój profil </a>

                            <a class="nav-link active" href="{% url 'logout' %}"> Wyloguj się </a>

                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login' %}"> Zaloguj się </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'register' %}"> Zarejestruj się </a>
                        </li>
                        {% endif %}

                    </div>

                </ul>

            </div>





			</div>

		</nav>

	</header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>



        <div class="col-md-4">
          <div class="list-group">
                <a href="{% url 'blog-home' %}" class="list-group-item list-group-item-action list-group-item-light"> Forum </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light"> Klasyfikacje zawodników </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light"> Klasyfikacje drużyn </a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-light"> Harmonogram zawodów </a>
                <a href="{% url 'blog-about' %}" class="list-group-item list-group-item-action list-group-item-light"> Kontakt </a>
          </div>
        </div>
      </div>
</main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>